@page "/multipleInputEditor"
@page "/multipleInputEditor/{sampleName}"


@inject HttpClient Http
@inject Radzen.DialogService dialogService
@inject Radzen.NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject IJSRuntime js
@inject PersistenceStore documents


<RadzenDialog></RadzenDialog>
<RadzenNotification></RadzenNotification>
<RadzenFieldset Text="Options">
    <div class="row">
        <div class="col-md-4">
            <RadzenTextBox @bind-Value="model.Name" style="width:100%;margin-bottom:3px;" />
        </div>
        <div class="col-md-2">
            <RadzenButton ButtonType="ButtonType.Button" Icon="save" Click=@(args => SaveJlioDocument()) style="width:100%;margin-bottom:3px;" />
        </div>
        <div class="col-md-4">
            @if (JLioDocuments != null && JLioDocuments.Any())
            {
                <RadzenDropDown AllowClear="false" TValue="string" Style="width: 100%" @bind-value="@selectedJLioDocument"
                                AllowFiltering="false"
                                TextProperty="Name"
                                ValueProperty="Id"
                                Data=@(JLioDocuments.Where(i=> i.Name != latest).Select(c => new { Id = c.Id, Name = c.Id}).Distinct()) />
            }
        </div>
        <div class="col-md-2">
            @if (JLioDocuments != null && JLioDocuments.Any())
            {
                <RadzenButton ButtonType="ButtonType.Button" Text="Load" Click=@(args => LoadJlioDocument()) style="width:100%;margin-bottom:3px;" />
            }
        </div>
    </div>
</RadzenFieldset>



<div class="row">
    <div class="col-md-12">
        <RadzenFieldset Text="Input data">
            <div class="row">
                <div class="col-md-3">
                    <RadzenButton ButtonType="ButtonType.Button" Icon="add_circle_outline" Click=@(args => AddInput()) Text="Add input object" ButtonStyle="ButtonStyle.Secondary" style="width:100%;margin-bottom:3px;" /><br />
                    @foreach (var inputElement in model.InputObjects.OrderBy(i => i.Name))
                    {
                        <RadzenButton ButtonType="ButtonType.Button" Text="@inputElement.Name" Click=@(args => SetInput(inputElement)) style="width:100%;margin-bottom:3px;" />
                        <br />
                    }
                </div>
                <div class="col-md-9">
                    @if (model.HasCurrentInput)
                    {

                        <div class="row">
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="model.CurrentInput.Name" style="width:100%;margin-bottom:3px;" />
                            </div>
                            <div class="col-md-2">
                                <RadzenButton ButtonType="ButtonType.Button" Icon="delete" Text=@($"Delete input object:{model.CurrentInput.Name}") Click=@(args => DeleteCurrentInput()) style="width:100%;margin-bottom:3px;" />
                            </div>
                            <div class="col-md-2">
                                <RadzenButton ButtonType="ButtonType.Button" Icon="file_download" Click=@(args => Download($"{model.CurrentInput.Name}-input.json",model.CurrentInput.JsonString)) style="width:100%;margin-bottom:3px;" />
                            </div>
                        </div>
                        <RadzenTextArea @bind-value="model.CurrentInput.JsonString" Placeholder="put your json notation here" Rows="12" Style="width: 100%" />
                    }
                </div>
            </div>
        </RadzenFieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenFieldset Text="Script">
            <div class="row">
                <div class="col-md-3">
                    <RadzenDropDown AllowClear="false" TValue="string" Style="width: 100%" @bind-value="@model.SelectedCommand"
                                    AllowFiltering="false"
                                    Data=@model.Commands /><br />


                    <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Secondary" Icon="add_circle_outline" Text="New command wizard" Click=StartWizard style="width:100%;margin-bottom:3px;" />

                </div>
                <div class="col-md-9">
                    <RadzenTextArea @bind-value="model.ScriptText" Placeholder="put your json notation here" Rows="12" Style="width: 100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <RadzenButton ButtonType="ButtonType.Button" Icon="file_download" Click=@(args => Download($"{model.Name}-script.json",model.ScriptText)) style="width:100%;margin-bottom:3px;" />
                </div>
                <div class="col-md-9">
                    <RadzenButton ButtonType="ButtonType.Button" Icon="play_arrow" ButtonStyle="ButtonStyle.Secondary" Text="Execute" Click=@(args => Execute()) style="width:100%;margin-bottom:3px;" />
                </div>
            </div>
        </RadzenFieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="min-height:300px">
        <RadzenFieldset Text="Output">

            <RadzenTabs SelectedIndex="0">
                <Tabs>
                    <RadzenTabsItem Text="Objects">
                        <div class="row">
                            <div class="col-md-3">
                                @foreach (var outputElement in model.OutputObjects.OrderBy(i => i.Name))
                                {
                                    <RadzenButton ButtonType="ButtonType.Button" Text="@outputElement.Name" Click=@(args => SetOutput(outputElement)) style="width:100%;margin-bottom:3px;" />
                                }
                            </div>

                            <div class="col-md-9">
                                @if (model.HasCurrentOutput)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <RadzenTextBox @bind-Value="model.CurrentOutput.Name" style="width:100%;margin-bottom:3px;" />
                                        </div>
                                        <div class="col-md-6">
                                            <RadzenButton ButtonType="ButtonType.Button" Icon="file_download" Click=@(args => Download($"{model.CurrentOutput.Name}-output.json",model.CurrentOutput.JsonString)) style="width:100%;margin-bottom:3px;" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <RadzenTextArea @bind-value="model.CurrentOutput.JsonString" Rows="12" Style="width: 100%" ReadOnly=true />
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Text="Debug">
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Simple" PageSize="25" AllowPaging="true" AllowSorting="false" Data="@model.DebugResults" TItem="CommandExecutionViewModel" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
                            <Columns>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="Success" Sortable="false" Frozen="true" Filterable="false" Width="50px">
                                    <Template Context="data">
                                        @if (data.Succes)
                                        {
                                            <RadzenIcon Icon="check_circle" style="color:green" />
                                        }
                                        else
                                        {
                                            <RadzenIcon Icon="sms_failed" style="color:red" />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="Changes" Sortable="false" Frozen="true" Filterable="false" Width="50px">
                                    <Template Context="data">
                                        @if (data.HasChanges)
                                        {
                                            <RadzenIcon Icon="published_with_changes" style="color:green" />
                                        }
                                        else
                                        {
                                            <RadzenIcon Icon="sync_problem" style="color:orange" />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="Command" Sortable="false" Frozen="true" Filterable="false">
                                    <Template Context="data">
                                        <RadzenButton ButtonType="ButtonType.Button" Text=@data.Command.CommandName Click=@(args => ToggleExpand(data)) ButtonStyle="ButtonStyle.Warning" style="width:100%;margin-bottom:3px;" />
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="command details" Sortable="false" Frozen="true" Filterable="false">
                                    <Template Context="data">
                                        @if (data.Expanded)
                                        {
                                            <RadzenTextArea Value=@data.CommandText Rows="12" Style="width: 100%" ReadOnly=true />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="start data" Sortable="false" Frozen="true" Filterable="false">
                                    <Template Context="data">
                                        @if (data.Expanded)
                                        {
                                            <RadzenTextArea Value=@data.StartObjectText Rows="12" Style="width: 100%" ReadOnly=true />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="data result" Sortable="false" Frozen="true" Filterable="false">
                                    <Template Context="data">
                                        @if (data.Expanded)
                                        {
                                            <RadzenTextArea Value=@data.EndObjectText Rows="12" Style="width: 100%" ReadOnly=true />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="CommandExecutionViewModel" Title="Log" Sortable="false" Frozen="true" Filterable="false">
                                    <Template Context="data">
                                        @if (data.Expanded)
                                        {
                                            <RadzenTextArea Value=@data.LogText Rows="12" Style="width: 100%" ReadOnly=true />
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>

                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenFieldset>
    </div>
</div>






@code {
    [Parameter]
    public string SampleName { get; set; }

    List<JLioDocumentModel> JLioDocuments { get; set; } = new List<JLioDocumentModel>();

    string selectedJLioDocument = null;

    const string latest = "_latest_";

    public MultilineEditorViewModel model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = new MultilineEditorViewModel
        {
            InputObjects = new List<JsonObjectViewModel>
                {
                    new JsonObjectViewModel { Name = "sample", JsonString = "{ }" },
                },
            Commands = new List<string>() { "Add", "Copy", "Move", "Remove", "Set" },
            ScriptText = "[\r\n  {\r\n    \"path\": \"$.myObject.newProperty\",\r\n    \"value\": {\r\n      \"new object\": \"Added by value\"\r\n    },\r\n    \"command\": \"add\"\r\n  },\r\n  {\r\n    \"path\": \"$.myObject.newProperty2\",\r\n    \"value\": \"=newGuid()\",\r\n    \"command\": \"add\"\r\n  }\r\n]"
        };


        await GetJLioDocuments();

        LoadJlioDocument(latest);

        ResetInputSelection();
        ResetOutputSelection();

        NavigationManager.LocationChanged += LocationChanged;

        base.OnInitialized();
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        SaveJlioDocument(latest).Wait();
    }

    async Task GetJLioDocuments()
    {
        JLioDocuments = await documents.GetModels();
    }

    void ToggleExpand(CommandExecutionViewModel item)
    {
        item.Expanded = !item.Expanded;
    }

    void SetInput(JsonObjectViewModel item)
    {
        model.CurrentInput = item;
    }

    void SetOutput(JsonObjectViewModel item)
    {
        model.CurrentOutput = item;
    }

    void DeleteCurrentInput()
    {
        if (model.HasCurrentInput)
        {
            model.InputObjects.Remove(model.CurrentInput);
            ResetInputSelection();
        }
    }

    void ResetInputSelection()
    {
        model.CurrentInput = model.InputObjects.OrderBy(i => i.Name).FirstOrDefault();
    }
    void ResetOutputSelection()
    {
        model.CurrentOutput = model.OutputObjects.OrderBy(i => i.Name).FirstOrDefault();
    }

    void AddInput()
    {
        var newItem = new JsonObjectViewModel { Name = "newObject", JsonString = "{}" };
        model.InputObjects.Add(newItem);
        model.CurrentInput = newItem;
    }

    JToken Execute()
    {
        var executeContext = ExecutionContext.CreateDefault();
        var scriptLines = ParseScript(executeContext);
        var startObject = ParseInput(executeContext);

        model.DebugResults = new List<CommandExecutionViewModel>();
        scriptLines.ForEach(l =>
        {
            var executionResult = l.Execute(startObject.DeepClone(), executeContext);
            model.DebugResults.Add(new CommandExecutionViewModel(l, executionResult.Success, startObject, executionResult.Data, executeContext.Logger.LogText));
            executeContext = ExecutionContext.CreateDefault();
            startObject = executionResult.Data;
        });

        SetExecutionResult(new JLioExecutionResult(model.DebugResults.All(i => i.Succes == true), startObject));
        return startObject;
    }

    private void SetExecutionResult(JLioExecutionResult executionResult)
    {
        var result = ((JObject)executionResult.Data).ConvertToDictionary();

        model.OutputObjects = new List<JsonObjectViewModel>();

        result.Keys.ToList().ForEach(k => model.OutputObjects.Add(new JsonObjectViewModel
        {
            Name = k,
            JsonString = result[k].ToString(Newtonsoft.Json.Formatting.Indented)
        }
        ));
        ResetOutputSelection();
    }


    private JLioScript ParseScript(IExecutionContext context)
    {
        JLioScript script;
        try
        {
            script = JLioConvert.Parse(model.ScriptText);
        }
        catch (Exception)
        {
            context.LogError("script is malformed",
                "update json script so it is valid. Execution terminated");
            return new JLioScript();
        }

        return script;
    }

    JToken ParseInput(IExecutionContext context)
    {


        var currentObjectName = string.Empty;

        try
        {
            var collection = new Dictionary<string, JToken>();
            model.InputObjects.ForEach(i =>
            {
                currentObjectName = i.Name;
                collection.Add(i.Name, JToken.Parse(i.JsonString));
            });

            return collection.ConvertToDataObject();

        }
        catch (Exception)
        {
            context.LogError($"input object {currentObjectName} is malformed or is provided twice",
                "update json object so it is valid. Execution terminated");

        }

        return new JObject();
    }

    async Task StartWizard()
    {

        if (string.IsNullOrEmpty(model.SelectedCommand))
        {
            NotificationService.Notify(NotificationSeverity.Info, "No command is selected", "Select a command in the dropdown box", 5000);
            return;
        }
        var dataContext = Execute();


        switch (model.SelectedCommand)
        {
            case "Add":
                Console.WriteLine($"{dialogService == null} dialogservce available post execution");
                var addCommand = await dialogService.OpenAsync<AddWizard>($"Add command wizard",
                   new Dictionary<string, object>() { { "DataContext", dataContext } },
                   new DialogOptions() { Width = "900px", Height = "630px" });

                if (addCommand is ICommand a)
                {
                    AddToScript(a);
                }
                break;

            case "Set":
                var setCommand = await dialogService.OpenAsync<SetWizard>($"Set command wizard",
                    new Dictionary<string, object>() { { "DataContext", dataContext } },
                    new DialogOptions() { Width = "900px", Height = "630px" });
                if (setCommand is ICommand s)
                {
                    AddToScript(s);
                }
                break;

            case "Remove":
                var removeCommand = await dialogService.OpenAsync<RemoveWizard>($"Remove command wizard",
                    new Dictionary<string, object>() { { "DataContext", dataContext } },
                    new DialogOptions() { Width = "900px", Height = "630px" });
                if (removeCommand is ICommand r)
                {
                    AddToScript(r);
                }
                break;
            case "Copy":
                var copyCommand = await dialogService.OpenAsync<CopyWizard>($"Copy command wizard",
                    new Dictionary<string, object>() { { "DataContext", dataContext } },
                    new DialogOptions() { Width = "900px", Height = "630px" });
                if (copyCommand is ICommand c)
                {
                    AddToScript(c);
                }
                break;
            case "Move":
                var moveCommand = await dialogService.OpenAsync<MoveWizard>($"Move command wizard",
                    new Dictionary<string, object>() { { "DataContext", dataContext } },
                    new DialogOptions() { Width = "900px", Height = "630px" });
                if (moveCommand is ICommand m)
                {
                    AddToScript(m);
                }
                break;

            default:
                NotificationService.Notify(NotificationSeverity.Info, "wizard not implemented yet", "", 5000);
                break;
        }
    }

    async Task Download(string name, string text)
    {
        var bytes = System.Text.Encoding.UTF8.GetBytes(text);
        await SaveAsFile.SaveAs(js, name, bytes);
    }

    async Task SaveJlioDocument()
    {
        await SaveJlioDocument(model.Name);
    }

    async Task SaveJlioDocument(string name)
    {
        var document = new JLioDocumentModel
        {
            Name = name,
            JsonData = JsonConvert.SerializeObject(model),
        };

        if (await documents.Exists(document.Id))
        {
            await documents.Update(document);
        }
        else
        {
            await documents.Add(document);
        }
        await GetJLioDocuments();
    }

    void LoadJlioDocument()
    {
        LoadJlioDocument(selectedJLioDocument);
    }


    void LoadJlioDocument(string selectedJLioDocumentId)
    {
        var selectedItem = JLioDocuments.FirstOrDefault(i => i.Id == selectedJLioDocumentId);
        if (selectedItem != null)
        {
            model = JsonConvert.DeserializeObject<MultilineEditorViewModel>(selectedItem.JsonData);
            model.Commands = new List<string>() { "Add", "Copy", "Move", "Remove", "Set" };
        }
    }

    private void AddToScript(ICommand jsonCommand)
    {
        var script = ParseScript(ExecutionContext.CreateDefault());
        script.AddLine(jsonCommand);
        model.ScriptText = JLioConvert.Serialize(script);
    }

}
